.ForgotPassword {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #161718;
}

.ForgotPassword-login-container {
  width: 60%;
  height: 60%;
}

.ForgotPassword-grid {
  color: white;
}

.ForgotPassword-form {
  width: 100%;
  height: 100%;
}
