.AddSubject {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #161718;
}

.AddSubject-login-container {
  width: 60%;
  height: 60%;
}

.AddSubject-grid {
  color: white;
}

.AddSubject-form {
  width: 100%;
  height: 100%;
}
